* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
  align-content: center;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
}

.left,
.right {
  transition: all 0.6s ease-in-out;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.left {
  background: white;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.2);
}

.left .clickMeImage {
  width: 50%;
  height: 50%;
}

.expanded .left .clickMeImage {
  display: none;
}

.right {
  width: 50%;
  background: radial-gradient(circle, #212a91, #011116);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  text-align: center;
  box-shadow: -2px 0 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.expanded .left {
  width: 50%;
  cursor: default;
}

.expanded .right .intro-image {
  display: none;
}

.right .intro-image {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 3rem;
  margin: 0;
  color: #333;
  text-shadow: 1px 1px 2px #fff;
  align-content: center;
  justify-content: center;
}

.buttons {
  display: none;
  margin-top: 30px;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  padding: 15px 25px;
  font-size: 16px;
  background: linear-gradient(to right, #0e0863, #0c1e6e);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  margin: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.buttons button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.expanded .buttons {
  display: flex;
}

.right h2 {
  font-size: 2rem;
  color: #f8f2f2;
}

.right p {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 20px;
}

.intro-image {
  width: 80%;
  height: 80%;
  margin-top: 15px;
  border-radius: 15px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.placeholder {
  font-size: 1.3rem;
  color: #666;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 13px 11px 20px 1px #89f7fe;
}

.accordion-header {
  width: 100%;
  padding: 12px 16px;
  text-align: left;
  background-color: #74a4c6;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accordion-header:hover {
  background-color: #31a713;
}

.accordion-content {
  padding: 0 16px;
  max-height: 0;
  overflow: hidden;
  background: #f9f9f9;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-content.active {
  padding: 20px;
  max-height: 300px; /* adjust as needed or use scroll */
}

.sub-text {
  color: #0b0a0a;
  margin: 0.5rem 0;
}

.section-image {
  width: 50%;
  height: auto;
  border: 2px;
  margin-bottom: 20px;
}
